@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #d1d5db;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@theme {
  --color-accent: oklch(0.7049 0.18445 152.2444);

  --font-saira: Saira;
}
