@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #d1d5db;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@theme {
  --color-accent: oklch(0.7049 0.18445 152.2444);
  --color-background: oklch(17.76% 0.000 0);

  --font-saira: Saira;
}

.bgart {
  background:
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #232323;
}
